// Reset
* {
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
  max-width: 100%;
}
// Colors
$primary-color0: hsl(257, 40%, 49%);
$primary-color1: hsl(300, 69%, 71%);
// Geral
body {
  background-image: url(./images/bg-desktop.svg);
  background-color: $primary-color0;
  display: grid;
  justify-content: center;
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
}
header {
  width: 1000px;
  margin-bottom: 50px;
}
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1000px;
  gap: 20px;
  .information {
    h1,
    p {
      color: white;
      font-family: "Poppins";
      margin-bottom: 10px;
    }
  }
  button {
    background-color: white;
    padding: 15px 60px;
    border: none;
    border-radius: 40px;
    color: $primary-color0;
    font-family: "Poppins";
    font-weight: 600;
    &:hover {
      background-color: $primary-color1;
      color: white;
    }
  }
}
footer {
  width: 1000px;
  margin-top: 50px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  img {
    width: 30px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;
  }
}
