// Reset
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
// Colors
$primary-color0: hsl(257, 40%, 49%);
$primary-color1: hsl(300, 69%, 71%);
// Device
$m-device: 376px;
@mixin d($size) {
  @if $size == m {
    @media screen and (max-width: $m-device) {
      @content;
    }
  }
}
// Geral
body {
  background-image: url(./images/bg-desktop.svg);
  background-color: $primary-color0;
  display: grid;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  @include d(m) {
    margin-left: 5px;
    margin-right: 5px;
  }
  header {
    display: grid;
    grid-template-columns: minmax(350px, 1000px);
  }
  header {
    margin-bottom: 60px;
    margin-top: 20px;
  }
  main {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 20px;
    @include d(m) {
      grid-template-columns: 350px;
    }
    h1 {
      color: white;
      font-family: "Poppins";
      font-weight: 600;
      margin-bottom: 10px;
      @include d(m) {
        text-align: center;
        line-height: 1.25;
      }
    }
    p {
      color: white;
      font-family: "Open Sans";
      line-height: 2;
      font-weight: 400;
      margin-bottom: 15px;
      @include d(m) {
        text-align: center;
        line-height: 1.5;
      }
    }
    button {
      color: $primary-color0;
      font-family: "Poppins";
      font-weight: 600;
      padding: 15px 60px;
      border: none;
      border-radius: 20px;
      box-shadow: 3px 2px black;
      margin-bottom: 15px;
      @include d(m) {
        margin-left: 90px;
      }
      &:hover {
        color: white;
        background-color: $primary-color1;
      }
    }
  }
}
footer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  gap: 20px;
  @include d(m) {
    max-width: 350px;
    justify-content: center;
  }
  img {
    max-height: 40px;
    border: 2px solid white;
    padding: 5px;
    border-radius: 50%;
  }
}
